@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root{
    --color__primario: #593B02;
    --color__secundario: #F2E7C4; 
    --color__terciario: #BFB304;
    --color__blanco: #fbfbfb;
    --color__negro: #121212;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--neutroBlanco);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
}

/* Logotipo */
.logo{
    color: var(--color__secundario);
    font-family: "Borel", cursive;
    font-size: 35px;
    line-height: 110px;
    padding: 0 16px;
}
/* Logotipo - fin */

/* Menu cabecera */
nav{
    background-color: var(--color__primario);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9;
}

nav ul{
    float: right;
    margin-right: 16px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}

nav ul li a{
    color: var(--color__secundario);
    font-optical-sizing: auto;
    font-weight: 500;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--color__terciario);
    transition: 500ms;
}

.checkbtn {
    font-size: 24px;
    color: var(--color__secundario);
    float: right;
    line-height: 80px;
    margin-right: 16px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/* Menu cabecera - fin */

/* Carrusel Boostrap */
.carousel-inner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-caption p{
    color: var(--color__blanco);
    font-weight: 500;
    font-size: 18px;
}
/* Carrusel Boostrap - fin */

.texto__inicio h3 {
    color: var(--color__blanco);
    font-size: 19px;
    position: absolute; 
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Contenido principal -- escribir CSS en orden de las secciones */
.contenedor{
    justify-content: center;
    align-items: center;
    display: flex;    
}

.contenido__principal{
    width: 80%;
    margin: 3% auto;
}

.contenido__principal img{
    max-width: 450px;
    border-radius: 10px;
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

.texto__caja {
    color: var(--color__negro);
    font-size: 19px;
    justify-content: center;
}

.flex__container{
    /*background-color: rgb(243, 209, 214);
    border: solid var(--colorPrimario) 5px;
    border-radius: 15px;*/
    color: var(--color__blanco);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin: 20px auto; 
    justify-content: center;
}

.box__01{
    background-color: var(--colorPrimario);
    background-color: var(--colorPrimario);
    background: linear-gradient(to bottom, #47290655, #f9ad573a), url(https://media.istockphoto.com/id/1867271848/es/foto/hermoso-pastel-colorido-en-la-celebraci%C3%B3n-del-baby-shower.jpg?s=612x612&w=is&k=20&c=8demadFa1edWjOiN09eCBZqxyjSasxpwFNZXfbqDNFE=) center no-repeat;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--colorSecundario) 5px;
    border-radius: 15px;
    color: var(--neutroBlanco);
}

.box__02{
    background-color: var(--colorSecundario);
    background: linear-gradient(to bottom, #47290655, #f9ad573a), url(https://media.istockphoto.com/id/1676097087/es/foto/pastel-de-tres-leches-pasteler%C3%ADa-latinoamericana-de-tres-leches-con-fresas.jpg?s=612x612&w=is&k=20&c=SJ2TMalk7NLaFANwFyHax8JCC2v7_gba9HluLdH9hMQ=) center no-repeat;
    background-size: cover;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--colorSecundario) 5px;
    border-radius: 15px;
    color: var(--neutroBlanco);
}

.box__03{
    background-color: var(--colorPrimario);
    background: linear-gradient(to bottom, #47290655, #f9ad573a), url(https://media.istockphoto.com/id/1242922602/es/foto/composici%C3%B3n-con-delicioso-pastel-de-crema-de-bayas-sobre-mesa-de-madera-blanca-postre-sabroso.jpg?s=612x612&w=is&k=20&c=29ucOQGXEiqpmSYruvX-IiqCBaXaJfNqTht5uYs_WyU=) center no-repeat;
    background-size: cover;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--colorSecundario) 5px;
    border-radius: 15px;
    color: var(--neutroBlanco);
}

.box__04{
    background-color: var(--colorSecundario);
    background-color: var(--colorPrimario);
    background: linear-gradient(to bottom, #47290655, #f9ad573a), url(https://plus.unsplash.com/premium_photo-1668782095746-49291f3de3b3?q=80&w=979&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center no-repeat;
    width: 290px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--colorSecundario) 5px;
    border-radius: 15px;
    color: var(--neutroBlanco);
}

/* Portada fotos */
.flex__container__fotos{
    /*background-color: rgb(243, 209, 214);
    border: solid var(--colorPrimario) 5px;
    border-radius: 15px;*/
    color: var(--color__blanco);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto; 
    justify-content: center;
    padding: 0px;
    border-radius: 20px;
    transform: translateY(80px);
}

.portada__fotos{
    background: linear-gradient(to bottom, #47290655, #f9ad573a), url(https://media.istockphoto.com/id/1867271848/es/foto/hermoso-pastel-colorido-en-la-celebraci%C3%B3n-del-baby-shower.jpg?s=612x612&w=is&k=20&c=8demadFa1edWjOiN09eCBZqxyjSasxpwFNZXfbqDNFE=) center no-repeat;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid var(--colorSecundario) 5px;
    border-radius: 15px;
    color: var(--neutroBlanco);
}
/* Portada fotos - fin */

.footer{
    background-color: var(--color__primario);
    padding: 30px 0;
    text-align: center;
}

.footer a{
    font-size: 17px;
    color: var(--color__blanco);
}

.footer .contenido__footer{
    width: 100%;
    margin: 30px 0;
    text-decoration: none;
    color: var(--color__blanco);
}

.footer .contenido__footer ul{
    width: 100%;
}


.footer .contenido__footer li{
    display: inline-block;
    margin: 0 30px;
}

.footer .contenido__footer a i{
    font-size: 27px;
    margin: 0 19px;
}

/* Contenedor tarjetas */
.contenedor__tarjetas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 25px;
}

.tarjeta{
    width: 325px;
    background-color: var(--color__primario);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.5s ease;
}

.tarjeta:hover{
    transform: translateY(-20px);
}

.tarjeta img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.contenido__tarjeta{
    padding: 20px;
}

.contenido__tarjeta h1{
    font-size: 23px;
    color: var(--color__blanco);
}

.contenido__tarjeta p{
    font-size: 17px;
    color: var(--color__blanco);
}

.boton__tarjeta{
    display: inline-block;
    background-color: var(--color__terciario);
    color: var(--color__primario);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.boton__tarjeta:hover{
    color: var(--color__blanco);
}

/* Contenedor tarjetas - fin*/

/* Tarjeta galería */
.card{
    margin: 5% auto; /* se recomienda dejar el auto y mejor indicar el maximo*/
    max-width: 720px;
    width: 90%;
}

.card img{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    margin: 20px auto;
}
/* Tarjeta galería - fin */

/* Mapa */
.mapa{
    max-width: 720px;
    margin: 0 auto;
}

.mapa h1{
    color: var(--color__primario);
    text-align: center;
}

.mapa iframe{
    width: 100%;
    border: 5px solid var(--color__negro) !important;
    margin: 0 auto;
}
/* Mapa - fin */


@media (max-width:950px) {

    /* Menu cabecera */
    .logo{
        font-size: 24px;
        padding-left: 16px;
    }
    /* Menu cabecera - fin */
}

@media (max-width:800px) {

    /* Menu cabecera */
    .logo2{
        padding-left: 16px;
    }
    /* Menu cabecera - fin */
    

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:720px) {
    .contenido__principal img{
        max-width: 100%;
    }
}

@media (max-width:752px) {
    
    .footer{
        text-align: left;
        padding: 15px;
    }

    .footer .contenido__footer ul li{
        display: block;
        margin: 20px 0;
        text-align: left;
    }
}

@media (max-width:858px) {
    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color__terciario);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 500ms;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 19px;
    }

    a:hover{
        color: var(--color__primario);
    }

    #check:checked ~ ul{
        left: 0;
    }
}
