@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

:root{
    --color__primario: #593B02;
    --color__secundario: #F2E7C4; 
    --color__terciario: #BFB304;
    --color__blanco: #ffffff;
    --color__negro: #121212;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--neutroBlanco);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
}

/* Logotipo */
.logo{
    color: var(--color__secundario);
    font-family: "Borel", cursive;
    font-size: 35px;
    line-height: 100px;
    padding: 0 16px;
}
/* Logotipo - fin */

/* Menu cabecera */
nav{
    background-color: var(--color__primario);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9;
}

nav ul{
    float: right;
    margin-right: 16px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 16px;
}

nav ul li a{
    color: var(--color__secundario);
    font-optical-sizing: auto;
    font-weight: 500;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--color__terciario);
    transition: 500ms;
}

.checkbtn {
    font-size: 24px;
    color: var(--color__secundario);
    float: right;
    line-height: 80px;
    margin-right: 16px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/* Menu cabecera - fin */

/* Portada fotos */
.flex__container__fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto; 
    justify-content: center;
    padding: 0px;
    border-radius: 8px;
    transform: translateY(80px);
}

.flex__container__fotos p{
    font-family: "Borel", cursive;
    font-size: 24px;
    transform: translateY(40px);
    line-height: 50px;    
    color: var(--color__blanco);
}

.portada__favoritos{
    background: linear-gradient(to bottom, #593b0255, #f2e7c446), url(https://images.unsplash.com/photo-1509785307050-d4066910ec1e?q=80&w=1456&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center no-repeat;
    width: 100%;
    height: 150px;
    text-align: center;
    border-radius: 8px;
}

.portada__contacto{
    background: linear-gradient(to bottom, #593b0255, #f2e7c446), url(https://images.unsplash.com/photo-1558996338-294a904a1815?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center no-repeat;
    width: 100%;
    height: 150px;
    text-align: center;
    border-radius: 8px;
}

.portada__talleres{
    background: linear-gradient(to bottom, #593b0255, #f2e7c446), url(https://images.unsplash.com/photo-1501527904397-0801af7b5d18?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center no-repeat;
    width: 100%;
    height: 150px;
    text-align: center;
    border-radius: 8px;
}

.portada__productos{
    background: linear-gradient(to bottom, #593b0255, #f2e7c446), url(https://images.unsplash.com/photo-1620830958756-46335282c574?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center no-repeat;
    width: 100%;
    height: 150px;
    text-align: center;
    border-radius: 8px;
}
/* Portada fotos - fin */

/* Carrusel Boostrap */
.carousel-inner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.carousel-caption h5{
    color: var(--color__blanco);
    font-weight: 800;
    font-family: "Borel", cursive;
    font-size: 24px;
}

.carousel-caption p{
    color: var(--color__blanco);
    font-weight: 500;
    font-size: 18px;
}
/* Carrusel Boostrap - fin */

/* Contenedor principal */
.contenedor_principal{
    width: 90%;
    align-self: center;
    margin: 60px auto;
}
.contenedor_principal h1{
    color: var(--color__primario);
    font-size: 24px;
    text-align: left;
}
/* Contenedor principal - fin */

/* Búsqueda de productos */
#busqueda__productos{
    justify-content: center;
    transform: translateY(100px);
    width: 100%;
    text-align: center;
    padding: 16px;
    gap: 16px;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px;
}

/* Estilos del input de búsqueda */
#search-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 200px; 
}

/* Estilos del botón de búsqueda */
#search-button {
    display: inline-block;
    background-color: var(--color__terciario);
    color: var(--color__primario);
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Efecto al pasar el ratón sobre el botón */
#search-button:hover {
    color: var(--color__blanco);
}

#icono-carrito{
    color: var(--color__primario);
}
#texto-carrito{
    color: var(--color__primario);
}
/* Búsqueda de productos - fin */

/* Contenedor tarjetas */
.contenedor__tarjetas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 100px;
    align-items: center;
}

.tarjeta{
    width: 325px;
    background-color: var(--color__primario);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    transition: transform 0.5s ease;
}

.tarjeta:hover{
    transform: translateY(-20px);
}

.tarjeta img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.contenido__tarjeta{
    padding: 16px;
}

.contenido__tarjeta h1{
    font-size: 24px;
    color: var(--color__blanco);
}

.contenido__tarjeta p{
    color: var(--color__blanco);
}

.boton__tarjeta{
    display: inline-block;
    background-color: var(--color__terciario);
    color: var(--color__primario);
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.boton__tarjeta:hover{
    color: var(--color__blanco);
}

.tarjeta:hover img{
    /*transform: scale(1.3);*/
    transition-duration: .8s;
    filter: saturate(150%);
  }
/* Contenedor tarjetas - fin*/

/* Mapa */
.mapa{
    max-width: 720px;
    margin: 0 auto;
    margin-top: 120px;
}

.mapa h1{
    color: var(--color__primario);
    font-size: 24px;
    text-align: left;
}

.mapa iframe{
    width: 100%;
    border: 1px solid var(--color__terciario) !important;
    margin: 0 auto;
}
/* Mapa - fin */

/* Sugerencias */
.contenedor__sugerencias{
    max-width: 720px;
    margin: 0 auto;
    margin-top: 30px;    
    color: var(--color__negro);
}

.contenedor__sugerencias h1{
    color: var(--color__primario);
    font-size: 24px;
    text-align: left;
}

.contenedor__sugerencias .contacto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;  
    margin-bottom: 16px; 
}

.icono__texto{
    color: var(--color__primario);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.icono__texto a:hover{
    color: var(--color__terciario);
    transition: 500ms;
}
/* Sugerencias - fin */

/* Lista de talleres */
.card_container{
    margin-top: 120px;
}

.card{
    margin: 5% auto; /* se recomienda dejar el auto y mejor indicar el maximo*/
    max-width: 720px;
    width: 90%;
}

.card img{
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    margin: 16px auto;
}

.boton__talleres{
    background-color: var(--color__terciario) !important;
    color: var(--color__primario) !important;
    font-weight: 700 !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    border-color: var(--color__terciario) !important;
}

.boton__talleres:hover{
    color: var(--color__blanco) !important;
}
/* Lista de talleres - fin */

/* Comentarios clientes */
.contenedor__comentario {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .comentario {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .comentario p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
  }
/* Comentarios clientes - fin */

/* Pie de página */
.footer{
    background-color: var(--color__primario);
    padding: 24px 0;
    text-align: left;
}

.footer a{
    color: var(--color__secundario);
    font-weight: 500;
    text-decoration: none;
}

footer .contenido__footer{
    color: var(--color__secundario);
    width: 100%;
    margin: 24px 0px;
}

footer .contenido__footer ul{
    width: 100%;
    padding: 0;
}

footer .contenido__footer li{
    display: inline-block;
    margin: 0 16px;
}

footer .contenido__footer a i{
    font-size: 26px;
    margin: 0 16px;
}

footer .copyrights{
    margin: 0 16px;
}

footer ul li a:hover{
    color: var(--color__terciario);
    transition: 500ms;
}
/* Pie de página - fin */


@media (max-width:960px) {

    /* Menu cabecera */
    .logo{
        font-size: 24px;
    }
    /* Menu cabecera - fin */
}

@media (max-width:840px) {
    /* Menu cabecera */    
    nav ul li a{
        font-size: 16px;
    }

    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color__terciario);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 500ms;
        z-index: 1;
        padding: 0;
    }

    nav ul li{
        display: block;
        margin: 26px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 24px;
    }

    nav ul li a:hover{
        color: var(--color__primario);
        transition: 500ms;
    }

    #check:checked ~ ul{
        left: 0;
    }
    /* Menu cabecera - fin */

    /* Mapa */
    .mapa{
        max-width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    /* Mapa - fin */

    /* Footer */
    .footer .contenido__footer ul li{
        display: block;
        margin: 20px 16px;
        text-align: left;
    }
    /* Footer - fin*/
}
  